@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');



*{
    padding: 0;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --font-color               : #353232;
    --bg-color                 : #d1beff;
    --input-bg-color           : #FFFBFB;
    --input-font-color         : #4A4343;
    --input-font-color-active  : #6b37a0;
    --input-border-color-active: #4A4343;
}

body {
    background-color: #d8dede;
    background-image: linear-gradient(315deg, #d8dede 0%, #e5bdf6 74%);
    background-size: 200% 200%;
    -webkit-animation: Animation 20s ease infinite;
    -moz-animation: Animation 20s ease infinite;
    animation: Animation 20s ease infinite;
}

@keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}





.wrapper {
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--font-color);

    overflow: hidden;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.8rem;
    color: #7b4daa;
}





.input-area {
    width: 45%;
    min-width: 700px;
    height:90%;

    display: flex;
    flex-direction: column;
    
    padding: 1.5em;
    border-radius: 0.25rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

    background-color: var(--input-bg-color);
    transition: opacity 450ms ease-in-out;
}

.input-area textarea, .wczytane {
    width:100%;
    padding: 0.5em;
    font-size: 1.25rem;
    font-weight: 500;
    flex: 1 1 auto;
    border: 2px solid var(--bg-color);
    color: var(--input-font-color);
    border-radius: 0.2rem;
    margin-bottom: 1rem;

}

.input-area textarea {
    resize: none;  
}

.wczytane {
    flex: 1 1 auto;
    overflow:scroll;
    overflow-x: hidden;
}

.input-area textarea, ramka {
    outline: none;
}

.input-area textarea, #btn-load, .wczytane {
    font-family: inherit;
    line-height: 1.5;
}





#btn-load {
    width:180px;
    height:50px;
    border: none;
    flex: 0 0 50px;
    
    background-color: var(--input-font-color-active);
    border-radius: 0.5rem;

    color:white;    
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;

    transition: all 200ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

#btn-load:hover {
    cursor: pointer;
    background-color: #935bcc;
    width: 200px;
}





.ramka {
    height: 1.2em;
    width: 10ch;
    border-radius: 0.2rem;
    border: 1px solid rgb(150, 150, 150);
    
    text-align: center;
    color: var(--input-font-color-active);
    font-family: inherit;
    font-size: 1.1rem;
    
    padding: 0.1em 0.4em;
    margin: 0 0.2rem;

    transition: width 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.ramka:focus {
    width: 12ch;
    border: 2px solid #935bcc;
}

.ramka:hover {
    border: 2px solid #935bcc;
}

.ramka::selection {
    background-color: rgba(170, 54, 208, 0.23);
}





.shortcuts {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2.5%;


    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;

    width: 15%;
    height:30%;

    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

    background-color: white;
    border-radius: 1rem;
    transition: ease-in-out 2s all;
}

.shortcuts .ramka {
    height: 25px;
    width: 30%;
    pointer-events:none;
}





.shortcuts .ramka:nth-of-type(1) {
    animation: 6s tab_animation infinite 1s;
}
.shortcuts .ramka:nth-of-type(2) {
    animation: 6s tab_animation infinite 4s ;
}
.skrot:nth-of-type(2) .ramka:nth-of-type(2) {
    animation: 6s tab_animation infinite 1s;
}
.skrot:nth-of-type(2) .ramka:nth-of-type(1) {
    animation: 6s tab_animation infinite 4s ;
}

@keyframes tab_animation {
    0%{
        border: 3px solid #935bcc;
    }
    49% {
        border: 3px solid #935bcc;
    }
    50% {
        border: 1px solid grey;
    }
    100% {
        border: 1px solid grey;
    }
}

.shortcut {
    display:flex;
    justify-content:space-evenly;
}

.skrot  {
    text-align: center;
    height: 30%;
}

.skrot span {
    margin-bottom: 1rem;
    font: 600 1.3rem/1.8 'Poppins', sans-serif ; 
    letter-spacing: 1.5;
    color: var(--font-color);
}

.opacity-0 {
    opacity: 0;
}





@media (max-width: 800px) {
    .input-area {
        min-width: 80%;
    }
}

@media (max-width: 1250px) {
    .shortcuts {
        transform: translateY(-50%) scale(0.8);
    }
    .shortcuts span {
        font-size: 1rem;
    }
}

@media (max-width: 550px) {
    #btn-load {
        width: 100%;
    }
    #btn-load:hover{
        width: 100%;
    }
    .input-area{
        height: 80%;
    }
}